.Blog{
    height: 600px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
.Blog h2{
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 15px;
    padding-bottom: 10px;
}

.Blog p{
    padding-top: 15px;
}

.Blog input{
    margin-top: 150px;
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(73, 218, 73, 0.418);
}

.Likeky{
    height: 50px;
    width: 50px;
    background-image: url("/Images/1876985.png");
    background-size: cover;
    border: none;
}