*{
    padding: 0px;
    margin: 0px;
}

.Background{
    background-image: url("/Images/2.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.Nav_Img img{
    padding-top: 15px;
    padding-left: 15px;
    width: 70px;
    height: 70px;
}

.Top_NavBar{
    display: flex;
    gap: 25px;
}

.Text{
    padding-top: 40px;
    color: white;
    font-size:larger;
    font-family: 'Noto Sans', sans-serif;
}

.Icons{
    display: flex;
    gap: 10px;
    padding-left: 47%;
    padding-top: 20px;
}

.Icons img{
    width: 45px;
    height: 45px;
}

.Middle_section{
    display: flex;
    flex-direction: column;
}

.Titles{
    height: 350px;
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.Tile{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;   
}

.Middle_section{
    display: flex;
}

.ImageOfuser img{
    width: 45px;
    height: 45px;
}

.User_Logout{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 50px;
}


footer{
    width: auto;
    height: 140px;
    background-color: black;
    align-content: center;
    text-align: center;
}

footer h3{
    color: white;
    font-size: xx-large;
    padding-top: 45px;
}

.Icon_img:hover{
    transform: scale(1.1);
    transition: ease-in-out;
    padding-left: 5px;
    padding-right: 5px;
    transition-duration: 100ms;
}

.Tile u{
    color: blue;
}

.Tile :hover{
    cursor: pointer;
    transition: ease-in-out;
    padding-top: 2px;
    padding-bottom: 2px;
    transition-duration: 200ms;
}

.Search{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
}
.Search button{
    height: 50px;
    width: 50px;
    border-radius: 7px;
    background-color: green;
    color: black;
}

.open-popup{
    visibility: visible;
}