*{
    padding: 0px;
    margin: 0px;
}

.Background{
    background-image: url("/Images/2.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.Nav_Img img{
    padding-top: 15px;
    padding-left: 15px;
    width: 70px;
    height: 70px;
}

.Top_NavBar{
    display: flex;
    gap: 25px;
}

.Text{
    padding-top: 40px;
    color: white;
    font-size:larger;
    font-family: 'Noto Sans', sans-serif;
}

.Icons{
    display: flex;
    gap: 10px;
    padding-left: 48%;
    padding-top: 20px;
}

.Icons img{
    width: 60px;
    height: 60px;
}

.Middle_section{
    display: flex;
    flex-direction: column;
}

.Titles{
    height: 350px;
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.Tile{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;   
}